/* FriendProfile.css */
.friend-profile-container {
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    max-height: 500px;
    overflow-y: auto; /* Change overflow property to auto */
    background-color: rgba(0, 0, 0, 0.5);
  }
  
 
  
  .friend-icon-container {
    text-align: center;
  }
  
  .friend-icon {
    width: 100px; /* Adjust the icon size as needed */
    height: 100px;
    border-radius: 50%;
  }
  
  .favorite-songs-container {
    width: 100%; /* Ensure the table takes the full width of its container */
    border-collapse: collapse;
    color: white;
  }
  
  .song-item {
    margin: 5px 0;
  }
  .friend-song-table{
    width: 100%; /* Ensure the table takes the full width of its container */
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  .friend-song-table .column{
    width: 50%;
    text-align: left;
    color: rgb(160, 160, 160);
    

  }
  
  
  .friend-song-table th,
  .friend-song-table td {
    padding: 5px; /* Reduced padding */
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px; /* Adjusted font size */
    
    color:rgb(160, 160, 160);
  }
  