/* Style for HomeForm */
.home-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will center the content vertically in the viewport */
    text-align: center; /* Center text horizontally */
    
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  /*p {
    font-size: 1.2rem;
    color: rgb(67, 35, 35);
  }*/
  body {
    background-image: url('studio.jpg');
    background-size: cover;
    background-position: center;
  
  }
  .home-notification-container {
    position: fixed;
    top: 65px; /* Adjust the top distance as needed */
    right: 90px; /* Adjust the right distance as needed */
  }
  .home-container h3 {
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% transparency */
    color: aliceblue;/* Text color */
    padding: 10px; /* Add padding for better visibility */
  }
