.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Light black transparent background */
  overflow-x: hidden;
  padding-top: 60px; /* Leave some space on top */
  transition: 0.5s; /* Add a smooth transition effect */
}


.sidebar a {
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(211, 206, 206);
  display: block;
  background-color: rgba(0, 0, 0, 0.703);
  margin-bottom: 8px;
}

/* Style for the content to shift when the sidebar is open */
.content {
  margin-left: 200px;
  transition: margin-left 0.5s; /* Add a smooth transition effect */
}
.icon {
  width: 20px; /* Adjust the size of the icon */
  height: 20px; /* Adjust the height of the icon */
  margin-right: 8px; /* Add spacing between icon and text */
}
.profile-icon {
  width: 20px; /* Adjust the width and height as needed */
  height: 20px;
  border-radius: 50%;
}
/* Add styling for active links or other modifications as needed */
.logout-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  
  padding-left: 10px; 
}
.logout-icon {
  width: 20px;
  height: 20px;
  
}

.logout-text {
  color: rgba(255, 255, 255, 0.645); /* Text color */
  
}


  
  